/* Log */
.command-name-toMatchImageSnapshot .command-method span,
.command-name-toMatchSnapshot .command-method span,
a[href^="#cypress-plugin-snapshot-"] {
  border-radius: 2px;
  padding: 0px 3px;
  font-size: 11px;
  color: white;
}

/* Log - Snapshot */
.command-name-toMatchImageSnapshot .command-method span,
.command-name-toMatchSnapshot .command-method span {
  float: right;
}

.command-name-toMatchImageSnapshot .command-method span:after,
.command-name-toMatchSnapshot .command-method span:after {
  font-family: FontAwesome;
  float: left;
  margin-right: 3px;
}

.command-name-toMatchImageSnapshot .command-method span:after {
  content: "\f03e";  
}

.command-name-toMatchSnapshot .command-method span:after {
  content: "\f0f6";
}

.command-name-toMatchImageSnapshot.command-state-passed .command-method span,
.command-name-toMatchSnapshot.command-state-passed .command-method span {
  background-color: #08c18d;
}

.command-name-toMatchImageSnapshot.command-state-failed .command-method span,
.command-name-toMatchSnapshot.command-state-failed .command-method span {
  background-color: #e94f5f;
}

.command-name-toMatchImageSnapshot.command-state-pending .command-method span,
.command-name-toMatchSnapshot.command-state-pending .command-method span {
  background-color: #428BCA;
}

.command-name-toMatchImageSnapshot.command-state-failed+.command-name-then.command-state-failed,
.command-name-toMatchSnapshot.command-state-failed+.command-name-then.command-state-failed {
  display: none;
}

/* Log - Snapshots match/Compare snapshots */
a[href^="#cypress-plugin-snapshot-"] {
    background: #08c18d;
    text-transform: uppercase;
    display: inline-block;
    line-height: 12px;
    border: 1px solid #08c18d;
    vertical-align: middle;
    margin-top: 1px;
}

.command-state-failed a[href^="#cypress-plugin-snapshot-"] {
  background: #fad7db;
  border: 1px solid currentColor;
  color: #e94f5f;
}

a[href^="#cypress-plugin-snapshot-"]:active,
a[href^="#cypress-plugin-snapshot-"]:hover,
a[href^="#cypress-plugin-snapshot-"]:focus {
  color: white;
  text-decoration: none;
  background: #08c18d;
}

.command-state-failed a[href^="#cypress-plugin-snapshot-"]:active,
.command-state-failed a[href^="#cypress-plugin-snapshot-"]:hover,
.command-state-failed a[href^="#cypress-plugin-snapshot-"]:focus {
  background-color: #e94f5f;
  border-color: #e94f5f;
  color: #fad7db;
}

a[href^="#cypress-plugin-snapshot-"]:before {
  content: "√ ";
  font-weight: bold;
}

.command-state-failed a[href^="#cypress-plugin-snapshot-"]:before {
  content: "<> ";
}

a[href^="#cypress-plugin-snapshot-"].command-state-updated,
a[href^="#cypress-plugin-snapshot-"].command-state-updated:active,
a[href^="#cypress-plugin-snapshot-"].command-state-updated:hover,
a[href^="#cypress-plugin-snapshot-"].command-state-updated:focus {
  background-color: #428BCA;
  border-color: #428BCA;
  color: white;
}

a[href^="#cypress-plugin-snapshot-"].command-state-updated:before {
  content: "√ ";
  font-weight: bold;
}


/* Modal */
.d2h-wrapper {
  background: white;
  min-width: 65vw;
  max-height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 3px #ccc;
}

.d2h-file-wrapper {
  border: none;
  margin-bottom: 0;
  height: 100%;
  box-sizing: border-box;
}

/* Header */
.d2h-file-name-wrapper {
    height: 100%;
}

.btn-group {
  display: inline-block;
}

.btn-group > * {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
}

.btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group-right {
  margin-left:auto;
}

.btn-group-right > * {
  margin-left: 0.5em;
}

.d2h-file-name-wrapper button, .d2h-file-name-wrapper select {
  border: 0;
  font-size: 12px;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  top: 0.75em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  outline: none;
}

.d2h-file-name-wrapper button:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  /*background-color: rgba(0, 0, 0, 0.1); rgb(245, 250, 254);*/
}

.d2h-file-name-wrapper .snapshot-btn-approve {
  background-color: #08c18d;
  color: white;
  font-weight: bold;
}


/* Tags */
.d2h-tag {
  font-size: 13px;
  margin-left: 0.75em;
}

.d2h-tag:before {
  padding: 0 2px;
}

.state-passed .d2h-tag:before {
  border: #08c18d 1px solid;
  color: #08c18d;
  content: 'NO CHANGES';
}

.state-updated .d2h-tag:before {
  border: #428BCA 1px solid;
  color: #428BCA;
  content: 'UPDATED';
}

.state-failed .d2h-tag:before {
  border: #e94f5f 1px solid;
  color: #e94f5f;
  content: 'CHANGED';
}


/* Content - Text (Overrides default diff2Html to display diff w/o changes) */
.state-passed .d2h-diff-tbody tr:nth-child(1),
.state-updated .d2h-diff-tbody tr:nth-child(1) {
  display: none;
}

.state-passed .d2h-ins,
.state-updated .d2h-ins {
  background-color: transparent;
  border-color: #d5e4f2;
}


/* Content - Image */
.snapshot-image {
  display: inline-block;
  width: 50%;
  border: solid #eeeeee;
  box-sizing: border-box;
  border-width: 0 0.5px 0 0.5px;
}

.snapshot-image__title {
  color: #555;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: .25em;
  text-align: center;
  font-size: 14px;
}

.snapshot-image__image {
  position: absolute;
  top: 0;
  width: 100%;
}

/* Content - Image - Single */
.snapshot-image--single {
  width: 100%;
}

.snapshot-image--single .snapshot-image__image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.state-passed .snapshot-image--single h2, 
.state-updated .snapshot-image--single h2 {
  display: none;
}

/* Content - Image - Diff */
.snapshot-image--diff {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all ease-in-out 100ms;
}

.snapshot-image--diff:active,
.snapshot-image--diff:hover {
  opacity: 1;
}

.snapshot-image--diff h2 {
  visibility: hidden;
}

.snapshot-image__wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
}
